@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2b2b2b;
  
}

#logo {
  width: 25%;
  height: auto;
}

h6 {
  font-size: 15px;
}

/* ---------Normal Navbar--------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100000;
}

header.scrolled {
  border-bottom: 2px solid white; /* Línea blanca que aparece al hacer scroll */
}

header::before {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(10px);
  z-index: -1;

}

.navbar .iconsmenu {
  font-size: 65px;
  color: white;
  right: 5%;
}

#user {
  font-size: 25px;
}

.navbar a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: "Sora", sans-serif;
  font-weight: 500px;
  margin: 0 15px;
}

.navbar #barrademenu2 {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.iconsmenu {
  display: none;
  margin-right: 50px;

}

.ocultar {
  right: -300%;
}

.mostrar {
  right: 0;
}

.OcultarenPC{
  display: none;
}

#barrademenu {  
  position: fixed;
  top: 0;
  height: 100%;
  width: 400px;
  z-index: 999;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.75s ease;
}

/* ---------Mediascreen Navbar--------- */

@media screen and (max-width: 1200px) {
  .navbar #barrademenu2 a {
      font-size: 25px;
  }
}

@media screen and (max-width: 944px) {

  #logo {
      width: 65%;
      height: auto;
  }

  .iconsmenu {
      display: block;
  }

  .OcultarenMobile{
      display: none;
  }

  .OcultarenPC{
      display: block;
  }

  .navbar li:first-child {
      margin-right: auto;
  }

  #barrademenu li {
      width: 100%;
      margin-top: 80px;
  }

  #barrademenu #user {
      font-size: 55px;
  }

  #barrademenu a {
      width: 100%;
      font-size: 40px;
      margin-left: 40px;
  }

}

@media screen and (max-width: 400px) {
  .iconsmenu {
      margin-right: 0px;
      margin-top: 0;
  }
  .mostrar {
      left: 0;
  }

}


/* ---------Normal Edicion---------  */

.titulo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 10%;
  text-align: center;
  text-decoration: underline;

}

h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 10%;
  text-align: center;
}

.btnPayment {
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btnPayment a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.btnPayment::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btnPayment::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

.btnPayment:hover::before {
  opacity: 1;
}

.btnPayment:active:after {
  background: transparent;
}

.btnPayment:active {
  color: #000;
  font-weight: bold;
}

#SectionEdition {
  position: relative;
  width: 100%;
  height: 205vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  z-index: 100;
  margin-top: -10%;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 700px;
  height: 150vh;
  margin: 0 70px 55px;
}

.card-list .card-item {
  height: auto;
  color: #fff;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(30px);
}

.card-list .card-item .notice-image {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.card-list .card-item .noticiaparrafo {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
  padding: 2%;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}
.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.slider-wrapper .swiper-slide-button {
  color: #fff;
  margin-top: -55px;
  transition: 0.2s ease;
}
.slider-wrapper .swiper-slide-button:hover {
  color: #4658ff;
}

/* ---------Mediascreen Edicion--------- */

@media screen and (max-width: 1020px) {


  .titulo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 30%;
    text-align: center;
    text-decoration: underline;
  
  }
  .slider-wrapper {
    overflow: hidden;
    max-width: 700px;
    height: auto;
    margin: 0 70px 55px;
  }
}

@media screen and (max-width: 768px) {
  .slider-wrapper .swiper-slide-button {
    display: none;
  }

  .titulo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    margin-top: 25%;
    text-align: center;
    text-decoration: underline;
  
  }
  .slider-wrapper {
    overflow: hidden;
    max-width: 700px;
    height: auto;
    margin: 0 70px 55px;
  }
}

@media screen and (max-width: 458px) {

  #SectionEdition {
    position: relative;
    width: 100%;
    height: 205vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -40%;
  }

  .card-list .card-item {
    height: 130%;
    color: #fff;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
  }
}

@media screen and (max-width: 360px) {

  .titulo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    margin-top: 45%;
    margin-bottom: -30%;
    text-align: center;
    text-decoration: underline;
  
  }

  #SectionEdition {
    position: relative;
    width: 100%;
    height: 205vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -40%;
  }

  .slider-wrapper {
    overflow: hidden;
    max-width: 700px;
    height: 150vh;
    margin: 0 0 0;
  }

  .slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;
  }

  .card-list .card-item {
    height: 127vh;
    color: #fff;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
  }
}

/* ---------Normal Payment--------- */

.ocultar-payment {
  display: none;
  opacity: 0;
  transform: scale(0.2);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 150vh;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.5s;
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #28af60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .cancel-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #711e1e;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #00ff6a;
}

.container form .cancel-btn:hover{
  background: #ff0000;
}

#ErrorEmail, #ErrorPais, #ErrorLoca, #ErrorCalle, #ErrorCodP,
#ErrorNombre, #ErrorNT, #ErrorT, #ErrorCadu, #ErrorCVV {
  color: red;
  font-size: 16px;
  font-weight: 800;
  display: none;
}

/* ---------Normal Footer--------- */

.pie-pagina{
  width: 100%;
  background: radial-gradient(circle at 48% -15%, rgb(120, 120, 120) 0%, #0a141d 20%);
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box .logofigura{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box .logofigura img{
  width: 250px;
}

.pie-pagina .grupo-1 .box2 img{
  width: 150px;
}

.pie-pagina .grupo-1 .box h4{
  color: #fff;
  margin-bottom: 25px;
  font-size: 15px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
  transform: scale(1.1);
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
}
.pie-pagina .grupo-2 p{
  font-size: 12px;
  color: #ffffff67;
}
#contacto {
  align-items: center;
  justify-content: space-between;
}
#emailfooter {
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 70%;
  height: 30%;
}
#botonfooter {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}
#pegi {
  width: 100px;
  height: auto;
}
.iconemail {
  width: 20px;
  height: auto;
}

.TC {
  color: white;
}



/* --------Mediascreen Footer---------  */

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
      text-align: center;
      align-items: center;
      justify-content: center;
  }

  
}
