@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    color: white;
}

html, body {
    background-color: #1c1c1c;
    width: 100%;
    height: 100%;
}

html, body {
    height: 100%;
  }

#logo {
    width: 25%;
    height: auto;
}

/* ---------Normal Navbar--------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100000;
}

header.scrolled {
    border-bottom: 2px solid white; /* Línea blanca que aparece al hacer scroll */
}

header::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    z-index: -1;

}

.navbar .iconsmenu {
    font-size: 65px;
    color: white;
    right: 5%;
}

.iconlogin {
    width: 25px;
    margin-left: 10px;
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-weight: 500px;
    margin: 0 15px;
}

.navbar #barrademenu2 {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul {
    list-style: none;
}

.iconsmenu {
    display: none;
    margin-right: 50px;

}

.ocultar {
    right: -300%;
}

.mostrar {
    right: 0;
}

.OcultarenPC{
    display: none;
}

#barrademenu {  
    position: fixed;
    top: 0;
    height: 100%;
    width: 400px;
    z-index: 999;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.75s ease;
}

/* ---------Mediascreen Navbar--------- */

@media screen and (max-width: 1200px) {
    .navbar #barrademenu2 a {
        font-size: 25px;
    }
}

@media screen and (max-width: 944px) {

    #logo {
        width: 65%;
        height: auto;
    }

    .iconsmenu {
        display: block;
    }

    .OcultarenMobile{
        display: none;
    }

    .OcultarenPC{
        display: block;
    }

    .navbar li:first-child {
        margin-right: auto;
    }

    #barrademenu li {
        width: 100%;
        margin-top: 80px;
    }

    #barrademenu .iconlogin {
        width: 50px;
        height: auto;
    }

    #barrademenu a {
        width: 100%;
        font-size: 40px;
        margin-left: 40px;
    }

}

@media screen and (max-width: 500px) {
    .iconsmenu {
        margin-right: 0px;
    
    }
}

@media screen and (max-width: 300px) {

    #logo {
        width: 75%;
        height: auto;
    }

}

/* ---------Normal Home---------  */

.Home {
    min-height: 100vh;
    background: no-repeat;
    background-image: url(assetsnuevos/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logogrande {
    width: 700px;
    height: auto;
    margin-top: 10%;
    margin-left: 30px;
}

#btn-1 , #btn-2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    font-family: "Sora", sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 15px 35px;
    margin-left: 50px;
    text-align: center;
}

#btn-1 {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    transition: 0.75s ease;
}

#btn-1:hover {
    transform: scale(1.1);
}

#btn-2 {
    color:white;
    transition: 0.75s ease;
}

#btn-2:hover {
    transform: scale(1.1);
}

/* ---------Mediascreen Home--------- */

@media screen and (max-width: 1200px) {

    #logogrande {
        width: 95%;
        height: auto;
        margin-top: 10%;
        margin-left: 30px;
    }
    
    #btn-1 , #btn-2 {
        display: inline-block;
        font-size: 25px;
        font-weight: 800;
        font-family: "Sora", sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 40px;
        padding: 15px 35px;
        margin-left: 2%;
        margin-top: 5%;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {

    .Home {
        min-height: 120em;
        background-image: url(assetsnuevos/a.jpg);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #logogrande {
        width: 95%;
        height: auto;
        margin-top: 15%;
        padding-right: 5%;
    }

    .botones {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        right: 1%;
    }

    #btn-1 , #btn-2 {
        display: inline-block;
        font-size: 60px;
        font-weight: 800;
        font-family: "Sora", sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 40px;
        padding: 15px 5%;
        margin-top: 40px;
        margin-right: 0;
    }

    #btn-1 {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
    }

    #btn-2 {
        color:white
    }

}

@media screen and (max-width: 700px) {


    .Home {
        min-height: 120em;
        background-image: url(assetsnuevos/a.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .titulo {
        margin-bottom: 5%;
    }

    #logogrande {
        width: 98%;
        height: auto;
        margin-top: 15%;
        padding-right: 0;
        margin-left: 0;
    }

    .botones {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        left: 5px
    }

    #btn-1 , #btn-2 {
        width: 80%;
        display: inline-block;
        font-size: 270%;
        font-weight: 800;
        font-family: "Sora", sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 40px;
        padding: 15px;
        margin-top: 40px;
        margin-left: 0;
    }

    #btn-1 {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
    }

    #btn-2 {
        color:white
    }

}

@media screen and (max-width: 580px) {

    #logogrande {
        width: 98%;
        height: auto;
        padding-right: 0;
        margin: 0;
        position: absolute;
        top: 20%;
        left: 0%
    }

    .botones {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
        position: absolute;
        top: 40%;
        left: 0%
    }

    #btn-1 , #btn-2 {
        width: 80%;
        display: inline-block;
        font-size: 200%;
        font-weight: 800;
        font-family: "Sora", sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 40px;
        padding: 15px;
        margin-top: 40px;
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {

    #logogrande {
        width: 98%;
        height: auto;
        padding-right: 0;
        margin: 0;
        position: absolute;
        top: 20%;
        left: 0%;
    }

    .botones {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
        top: 45%;
        left: 0%;
    }

    #btn-1 , #btn-2 {
        width: 80%;
        display: inline-block;
        font-size: 180%;
        font-weight: 800;
        font-family: "Sora", sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 40px;
        margin-top: 50px;
        margin-left: 0;
    }
}

@media screen and (max-width: 300px) {

    #logogrande {
        width: 98%;
        height: auto;
        padding-right: 0;
        margin: 0;
        position: absolute;
        top: 20%;
        left: 0%;
    }

    .botones {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
        top: 45%;
        left: 0%;
    }

    #btn-1 , #btn-2 {
        width: 80%;
        display: inline-block;
        font-size: 150%;
        font-weight: 800;
        font-family: "Sora", sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 40px;
        margin-top: 50px;
        margin-left: 0;
    }
}

/* ---------Normal Noticias---------  */

h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Sora", sans-serif;
    letter-spacing: 2px;
    text-decoration: underline;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

#SectionNoticias {
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;

}

.wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block; width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 213, 255, 0.5), rgb(17, 0, 255, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;

}

.card:hover:before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 4;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h3 {
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0px;
}

/* ---------Mediascreen Noticias--------- */

@media screen and (max-width: 1200px) {
    .card {
        margin-top: 10%;
        width: 100%;
        height: 500px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }
}

@media screen and (max-width: 960px) {
    #SectionNoticias .wrapper {
        flex-direction: column;
    }

    #SectionNoticias {
        margin-top: 90%;
    }

    .card {
        margin-top: 10%;
        width: 95%;
        height: 500px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

    .card .info .fecha {
        font-size: 20px;
    }

    .card .info h3 {
        font-size: 30px;
    }

    .card .info .parrafonoticia {
        font-size: 25px;
    }
}

@media screen and (max-width: 960px) {
    #SectionNoticias {
        margin-top: 95%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 101%;
        height: 500px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 670px) {

    #SectionNoticias {
        margin-top: 120%;
    }

    .card {
        width: 100%;
        height: 500px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

    .card .info .fecha {
        font-size: 20px;
    }

    .card .info h3 {
        font-size: 30px;
    }

    .card .info .parrafonoticia {
        font-size: 25px;
    }

}

@media screen and (max-width: 560px) {

    #SectionNoticias {
        margin-top: 240%;
    }

    .card {
        width: 100%;
        height: 700px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

    .card .info .fecha {
        font-size: 20px;
    }

    .card .info h3 {
        font-size: 30px;
    }

    .card .info .parrafonoticia {
        font-size: 25px;
    }

}

@media screen and (max-width: 480px) {

    #SectionNoticias {
        margin-top: 310%;
    }

    .card {
        width: 100%;
        height: 800px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

}

@media screen and (max-width: 400px) {
    
    #SectionNoticias {
        margin-top: 440%;
    }

    .card {
        width: 100%;
        height: 900px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

}

@media screen and (max-width: 340px) {
    
    #SectionNoticias {
        margin-top: 640%;
    }

    .card {
        width: 100%;
        height: 1050px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

}