@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

#logo {
  width: 25%;
  height: auto;
}

h6 {
  font-size: 15px;
}

/* ---------Normal Navbar--------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100000;
}

header.scrolled {
  border-bottom: 2px solid white; /* Línea blanca que aparece al hacer scroll */
}

header::before {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(10px);
  z-index: -1;

}

.navbar .iconsmenu {
  font-size: 65px;
  color: white;
  right: 5%;
}

.iconlogin {
  width: 25px;
  margin-left: 10px;
}

.navbar a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: "Sora", sans-serif;
  font-weight: 500px;
  margin: 0 15px;
}

.navbar #barrademenu2 {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.iconsmenu {
  display: none;
  margin-right: 50px;

}

.ocultar {
  right: -300%;
}

.mostrar {
  right: 0;
  left: 0;
}

.OcultarenPC{
  display: none;
}

#barrademenu {  
  position: fixed;
  top: 0;
  height: 100%;
  width: 400px;
  z-index: 999;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.75s ease-out;
}

/* ---------Mediascreen Navbar--------- */

@media screen and (max-width: 1200px) {
  .navbar #barrademenu2 a {
      font-size: 25px;
  }
}

@media screen and (max-width: 944px) {

  #logo {
      width: 65%;
      height: auto;
  }

  .iconsmenu {
      display: block;
  }

  .OcultarenMobile{
      display: none;
  }

  .OcultarenPC{
      display: block;
  }

  .navbar li:first-child {
      margin-right: auto;
  }

  #barrademenu li {
      width: 100%;
      margin-top: 80px;
  }

  #barrademenu .iconlogin {
      width: 50px;
      height: auto;
  }

  #barrademenu a {
      width: 100%;
      font-size: 40px;
      margin-left: 40px;
  }

}

@media screen and (max-width: 500px) {
  .iconsmenu {
      margin-right: 0px;
      margin-top: 0;
  }
  .mostrar {
      left: 0;
  }

}


/* ---------Normal Login--------- */

main{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(assetsnuevos/fondo.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  position: absolute;
  top: 18%;
  left: 20%;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 27%;
  transform: translate(-50%);
  font-size: 20px;
}
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot .remember {
  margin-top: 20px;
}
.remember-forgot a{
  color: #fff;
  text-decoration: none;
  margin-top: 20px;

}
.tienecuenta a{
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-weight: 900;
}
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
}

#ErrorUsuario , #ErrorContrasenia, #ErrorCcontrasenia, #ErrorEmail, #ErrorFecha {
  color: red;
  font-size: 16px;
  font-weight: 800;
  display: none;
}

/* ---------Mediascreen Login--------- */

@media screen and (max-width: 944px) {
  
  .wrapper{
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    position: absolute;
    top: 10%;
    left: 0;
  }
}

@media screen and (max-width: 400px) {
  .remember-forgot a{
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 15%;
  }
}

/* ---------Normal Register--------- */

#MainRegister{
  display: flex;
  align-items: center;
  min-height: 125vh;
  background: url(assetsnuevos/fondo.png) no-repeat;
  background-size: cover;
  background-position: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}

.input-box #iconFecha{
  position: absolute;
  right: 20px;
  top: 70%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .btnR{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-weight: 900;
  margin-top: 40px;
}

.tienecuenta {
  margin-top: 15%;
}

/* ---------Mediascreen Register--------- */

@media screen and (max-width: 944px) {
  
  .wrapper{
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    position: absolute;
    top: 10%;
    left: 0;
  }
}

@media screen and (max-width: 400px) {
  .wrapper{
    top: 25%;

  }
}


/* ---------Normal Footer--------- */

.pie-pagina{
  width: 100%;
  background: radial-gradient(circle at 48% -15%, rgb(120, 120, 120) 0%, #0a141d 20%);
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box .logofigura{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box .logofigura img{
  width: 250px;
}

.pie-pagina .grupo-1 .box2 img{
  width: 150px;
}

.pie-pagina .grupo-1 .box h4{
  color: #fff;
  margin-bottom: 25px;
  font-size: 15px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
  transform: scale(1.1);
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
}
.pie-pagina .grupo-2 p{
  font-size: 12px;
  color: #ffffff67;
}
#contacto {
  align-items: center;
  justify-content: space-between;
}
#emailfooter {
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 70%;
  height: 30%;
}
#botonfooter {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}
#pegi {
  width: 100px;
  height: auto;
}
.iconemail {
  width: 20px;
  height: auto;
}

.TC {
  color: white;
}



/* --------Mediascreen Footer---------  */

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
      text-align: center;
      align-items: center;
      justify-content: center;
  }

  
}
